/* ===== VARIABLES =====  */

:root {
  --color-1: hsl(37, 100%, 60%); /* yellow */
  --color-2: hsl(0, 0%, 100%); /* white */
  --color-3: hsl(0, 0%, 0%) /* black */
}


/* ===== GENERAL ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  padding-top: 100px;
}

#container {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
}

#tag-line-and-form,
#features,
#video-container,
#pricing,
#footer {
  margin-top: 100px;
}


#submit, button {
  background-color: var(--color-1);
  font-weight: bold;
  outline: none;
  border: none;
}

#submit:hover, button:hover {
  cursor: pointer;
}

/* ===== HEADER / FOOTER ===== */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  padding: 10px 0;
  background-color: var(--color-2);
}

#header-img-container,
#nav-bar {
  justify-content: center;
  text-align: center;
  max-width: 480px;
}

#header-img {
  width: 75%;
  min-width: 250px;
  max-width: 350px;
}

#nav-bar,
#footer > #footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-bar > div {
  flex: 1 1 0;
  min-width: 100px;
}

#nav-bar > div > a,
.footer-link > a {
  text-decoration: none;
  color: inherit;
}

#nav-bar > div > a:hover,
.footer-link > a:hover {
  font-weight: bold;
}

#footer > #copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 0.75em;
}

#footer {
  padding: 12.5px 0;
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== TAG LINE / FORM ===== */

#tag-line {
  text-align: center;
  font-size: 1.55em;
}

#form {
  text-align: center;
  margin-top: 25px;
}

#form > #email {
  padding: 5px;
  width: 300px;
  text-align: center;
}

#form > #email:focus {
  outline-color: var(--color-1);
}

#form > #email::placeholder {
  text-align: center;
}


#form > #submit {
  width: 10em;
  margin-top: 12.5px;
  padding: 5px;
  font-size: 1.125em;
}

/* ===== FEATURES ===== */

.feature-container {
  display: flex;
  margin-left: 12.5px;
  margin-right: 12.5px;
  text-align: center;
}

.feature-container:nth-child(n+2) {
  margin-top: 50px;
}

.feature-icon-container {
  flex: 0 0 20%;
  display: none;
  justify-content: center;
  align-items: center;
}

.feature-text-container h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.feature-text-container {
  flex: 0 0 100%;
}

.fa-people-carry, .fa-truck, .fa-check-double {
  font-size: 40px;
  color: var(--color-1);
}

/* ===== VIDEO ===== */

#video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ===== PRICING ===== */

#pricing {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.price-plan {
  border: 5px solid var(--color-3);
  text-align: center;
  width: 75%;
  max-width: 300px;
  align-self: center;
  border-bottom-left-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
}

#pricing > .price-plan:nth-child(n+2) {
  margin-top: 25px;
}

.price-plan-name {
  color: var(--color-2);
  background-color: var(--color-3);
  padding: 10px;
  font-weight: bold;
  font-size: 1.125em;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 25px;
}

.description {
  margin-top: 25px;
}

.description p {
  padding: 5px;
}

.select-trombone-btn {
  font-size: 1.125em;
  padding: 10px;
  margin: 25px 0;
}

/* ========================= */
/* ===== MEDIA QUERIES ===== */
/* ========================= */

@media only screen and (min-width: 576px) {

  /* ===== FEATURES ===== */

  .feature-container {
    text-align: left;
  }

  .feature-icon-container {
    display: flex;
  }

  .feature-text-container {
    flex-basis: 80%;
  }

  /* ===== PRICING ===== */

  .price-plan {
    width: 50%;
  }
}

/* ===== */

@media only screen and (min-width: 768px) {

  /* ===== HEADER / FOOTER ===== */

  header {
    flex-direction: row;
    justify-content: center;
  }

  #header-img-container, nav {
    flex: 0 0 50%;
  }

  /* ===== PRICING ===== */

  #pricing {
    flex-flow: row;
    justify-content: space-around;
  }

  #pricing > .price-plan:nth-child(n+2) {
    margin-top: 0;
  }

  #pricing > .price-plan {
    width: 30%;
  }
}
