/* ===== VARIABLES =====  */

:root {
  --color-1: hsl(0, 100%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: var(--color-1);
  padding-top: 80px;
}

/* ===== HEADER ===== */

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
}

#header-img-container {
  flex: 0 0 35%;
}

#header-img {
  width: 100%;
}

#nav-bar {
  flex: 0 0 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-bar > div {
  flex: 1 1 0;
  text-align: center;
}

#nav-bar > div > a {
  text-decoration: none;
  color: inherit;
}

#nav-bar > div > a:hover {
  font-weight: bold;
}



/* ===== ===== */

#tag-line {
  text-align: center;
}

#form {
  text-align: center;
  padding: 20px;
}

#form > input {
  margin: 5px 0 5px 0;
  padding: 5px;
}

#video-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
